# Dependencies
node_modules/
.pnp
.pnp.js
venv/
__pycache__/
*.pyc

# Production Builds
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# SQLite Database & Local Logs

*.log
_dev*.log
_srv*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
